.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;
}

.containerFlexCenter {
    flex: 100%; /* Let it fill the entire space horizontally */
    text-align: center;
}

.headerWrapper {
    display: flex; 
    justify-content: center;
    border-bottom: 1px solid white; 
}

.textInfo, .textInfo p {
    font-family: Garamond;
    display: block; 
    padding: 0px; 
    margin: 0px; 
    text-align: left;
}

#headerImage {
    height: 100px; 
}

#title {
    font-size: 70px;
}

.formToggle {
    color: black;
    text-decoration: underline;
}
.formToggle:hover {
    color: white;
    cursor: pointer;
}