.Result{
  flex: 0.7;
  display: flex;
  flex-wrap: wrap;
}
.result-team {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 110px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 1%;
  letter-spacing: .09em;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
  .result-team button {
    padding: 5px 8px;
    border: none;
    width: 100px;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  .result-team button:hover {
    border: 2px solid black;
  }
  .result-team p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90px;
  }
  .result-team p:hover {
    overflow: visible;
    max-width: none;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
  }
.result-img{
  width: 50px;
}
