.Table{
    height: 100%;
}
.table-body{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}
.table-wrapper{
  flex: 0.8;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 750px) {
  .table-body {
    flex-direction: column;
    justify-content: center;
  }
}
