.matches{
    height: 100%;
    flex: 0.7;
    align-self: center;
    background-color: #f3f3f3;
    color: #333333;
}
  .matches select {
    margin-left: auto;
    padding: 4px 8px;
    border: none;
    letter-spacing: .09em;
    border-radius: 2px;
    margin: 1%;
  }
.matches-match{
    text-align: center;
}
.match-focusedteam{
    font-weight: bold;
}
.matches-msg{
  flex: 1;
}
.popteams-wrapper{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .matches-del {
    display: none;
  }
}
