@font-face {
    font-family: Title;
    src:url(../../fonts/kanit.thin.ttf);
}
.wrapper{
    background-color: white;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#home-title{
    font-family: Title;
    font-size: 25vw;
    color: black;
    transition: all 1s linear;
}
#home-buttons{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#home-signUp{
    color: blue;
    font-size: 40px;
}
#home-signUp-info{
    color: white;
    opacity: 0;
    transition: opacity 2s ease-in;
    font-size: 40px;
}
#home-logIn-info{
    color: white;
    opacity: 0;
    transition: opacity 2s ease-in;
    font-size: 40px;
}
.home-input{
    width: 30%;
    font-size: 40px;
    margin: 2%;
}
#home-logIn{
    color: red;
    font-size: 50px;
}