.Sidebar{
    flex: 0.3;
}
.sidebar-team{
    outline: none;
    margin: 2px;
    border-radius: 4px;
    display: flex;
    background: #333;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.sidebar-team:hover{
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
}
  .sidebar-team button {
    margin-left: auto;
    padding: 5px 8px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
  }
  .sidebar-team button:hover {
    border-bottom: 2px solid #fff;
  }
