.navBar{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3% 0 3%;
    font-size: 30px;
    color: white;
}
.navBar-text{
  color: white;
  font-size: 50px;
  font-style: none;
  text-decoration: none;
  font-family: inherit;
}

.navBar-text:hover{
  color: black;
}

.selected {
  color: white;
  font-size: 65px;
  text-decoration: underline;
}

@media screen and (max-width: 750px) {
  .navBar-container{
  }
  .navBar {
    flex-wrap: wrap;
    flex: 1;
    height: auto;
  }
  .navBar-text{
    display: block;
    width: 100%;
  }
}
