.Search {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.search-body {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 2%;
}
.search-body-result{
  flex: 0.7;
  margin-left: 2%;
}

/** SearchBar **/
.searchBox{
  height: 35px;
  background-color: #f3f3f3;
  border-radius: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
}
/**
.searchBox:focus-within  > .searchInput {
  width: 240px;
  padding: 0 6px;
}
.searchBox:focus-within  > .searchSelect {
  width: auto;
  opacity: 100%;
}**/
.searchInput {
  border: none;
  border-radius: 20%;
  background: none;
  outline:none;
  float:left;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;

  width: 240px;
  padding: 0 6px;
}

.searchButton {
  background-color: #f3f3f3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.searchSelect{
  border:none;
  background-color: #f3f3f3;
  outline:none;
  padding: 0;
  border-radius: 10%;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  height: fit-content;

  width: auto;
}
.searchIcon{
  height: 30px;
  width: 30px;
}
.searchButton:focus{
  outline: none;
}
@media screen and (max-width: 620px) {
  .searchBox {
    width: 70%;
  }
  .searchInput {
    width: 70%;
  }
  .searchSelect {
    width: 70%;
  }
  .search-body {
    flex-direction: column;
  }
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/** Result **/
.Result{
  flex: 0.7;
  display: flex;
  flex-wrap: wrap;
}
.result-team {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 110px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 1%;
  letter-spacing: .09em;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.result-team button {
  padding: 5px 8px;
  border: none;
  width: 100px;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
.result-team button:hover {
  border: 2px solid black;
}
.result-team p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90px;
}
.result-team p:hover {
  overflow: visible;
  max-width: none;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
}
.result-img{
  width: 50px;
}
